<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.ArpMapper">


    <select id="selectObjByMap" parameterType="java.util.Map"
            resultType="com.metoo.nrsm.entity.nspm.Arp">
        SELECT *
        FROM metoo_arp
        <where>
            <if test="port != '' and port != null">
                AND port = #{port}
            </if>
            <if test="mac != '' and mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceIp != '' and deviceIp != null">
                AND deviceIp = #{deviceIp}
            </if>
        </where>
    </select>

    <resultMap id="joinSelectObjAndIpv6_Result" type="com.metoo.nrsm.entity.nspm.Arp">
        <id column="v4id" property="id"></id>
        <result column="v4ip" property="v4ip"></result>
        <result column="mac" property="mac"></result>
        <result column="port" property="port"></result>
        <result column="deviceIp" property="deviceIp"></result>
        <result column="deviceName" property="deviceName"></result>
        <result column="macVendor" property="macVendor"></result>
        <collection property="ipv6List" ofType="com.metoo.nrsm.entity.nspm.Ipv6">
            <id column="v6id" property="id"></id>
            <result column="v6ip" property="ip"></result>
        </collection>
    </resultMap>

    <select id="joinSelectObjAndIpv6" resultMap="joinSelectObjAndIpv6_Result">
          SELECT
            metoo_ipv4_mirror.id v4id,
            metoo_ipv4_mirror.ip v4ip,
            metoo_ipv4_mirror.mac,
            metoo_ipv4_mirror.port,
            metoo_ipv4_mirror.deviceIp,
            metoo_ipv4_mirror.deviceName,
            metoo_ipv6_mirror.id v6id,
            metoo_ipv6_mirror.ip v6ip,
            metoo_mac_vendor.vendor macVendor
        FROM
            metoo_ipv4_mirror
        JOIN metoo_ipv6_mirror ON metoo_ipv4_mirror.mac = metoo_ipv6_mirror.mac
        AND metoo_ipv4_mirror.port = metoo_ipv6_mirror.port
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(metoo_ipv4_mirror.mac, 1, 8);

    </select>

    <insert id="save" parameterType="com.metoo.nrsm.entity.nspm.Arp">
        INSERT INTO metoo_arp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip,
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip,
            </if>
            <if test="mac != null and mac != ''">
                mac,
            </if>
            <if test="port != null and port != ''">
                port,
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1,
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2,
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3,
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1,
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2,
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3,
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp,
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName,
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType,
            </if>
            <if test="tag != null and tag != ''">
                tag,
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                #{mac},
            </if>
            <if test="port != null and port != ''">
                #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                #{macVendor},
            </if>
        </trim>
    </insert>

    <insert id="saveGather" parameterType="com.metoo.nrsm.entity.nspm.Arp">
        INSERT INTO metoo_arp_gather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip,
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip,
            </if>
            <if test="mac != null and mac != ''">
                mac,
            </if>
            <if test="port != null and port != ''">
                port,
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1,
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2,
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3,
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1,
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2,
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3,
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp,
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName,
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType,
            </if>
            <if test="tag != null and tag != ''">
                tag,
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                #{mac},
            </if>
            <if test="port != null and port != ''">
                #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                #{macVendor},
            </if>
        </trim>
    </insert>

    <insert id="batchSaveGather" parameterType="java.util.List">
        INSERT INTO metoo_arp_gather (
            addTime,
            v4ip,
            v6ip,
            mac,
            port,
            v4ip1,
            v4ip2,
            v4ip3,
            v6ip1,
            v6ip2,
            v6ip3,
            deviceIp,
            deviceName,
            deviceType,
            tag,
            macVendor
        )
        VALUES
        <foreach collection ="list" item="item" separator ="," >
            (
            #{item.addTime},
            #{item.v4ip, jdbcType=VARCHAR},
            #{item.v6ip, jdbcType=VARCHAR},
            #{item.mac, jdbcType=VARCHAR},
            #{item.port, jdbcType=VARCHAR},
            #{item.v4ip1, jdbcType=VARCHAR}
            #{item.v4ip2, jdbcType=VARCHAR},
            #{item.v4ip3, jdbcType=VARCHAR},
            #{item.v6ip1, jdbcType=VARCHAR},
            #{item.v6ip2, jdbcType=VARCHAR},
            #{item.v6ip3, jdbcType=VARCHAR},
            #{item.deviceIp, jdbcType=VARCHAR},
            #{item.deviceName, jdbcType=VARCHAR},
            #{item.deviceType, jdbcType=VARCHAR},
            #{item.tag, jdbcType=VARCHAR},
            #{item.macVendor,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.metoo.nrsm.entity.nspm.Arp">
        UPDATE metoo_arp
        <set>
            <if test="addTime != null">
                addTime = #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip = #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip = #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                mac = #{mac},
            </if>
            <if test="port != null and port != ''">
                port = #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1 = #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2 = #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3 = #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1 = #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2 = #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3 = #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp = #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName = #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType = #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                tag = #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor = #{macVendor},
            </if>
            where id = #{v4ip3}
        </set>
    </update>

    <update id="writeArp">
        INSERT INTO metoo_arp_gather (
            addTime,
            v4ip,
            mac,
            PORT,
            v6ip,
            deviceIp,
            deviceName,
            macVendor
        ) SELECT
            arp.*, metoo_mac_vendor.vendor macVendor
        FROM
            (
                SELECT
                    *
                FROM
                    (
                        SELECT
                            metoo_ipv4.addTime,
                            metoo_ipv4.ip v4ip,
                            metoo_ipv4.mac,
                            metoo_ipv4. PORT,
                            NULL AS v6ip,
                            metoo_ipv4.deviceIp,
                            metoo_ipv4.deviceName
                        FROM
                            metoo_ipv4
                        WHERE
                            metoo_ipv4.id NOT IN (
                                SELECT DISTINCT
                                    metoo_ipv4.id
                                FROM
                                    metoo_ipv4
                                JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
                                AND metoo_ipv4. PORT = metoo_ipv6. PORT
                            )
                    ) arp2
                UNION
                    SELECT
                        addTime,
                        NULL AS ip,
                        mac,
                        PORT,
                        ip ipv6,
                        deviceIp,
                        deviceName
                    FROM
                        (
                            SELECT
                                *
                            FROM
                                metoo_ipv6
                            WHERE
                                metoo_ipv6.id NOT IN (
                                    SELECT DISTINCT
                                        metoo_ipv6.id
                                    FROM
                                        metoo_ipv4
                                    JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
                                    AND metoo_ipv4. PORT = metoo_ipv6. PORT
                                )
                        ) arp1
            ) arp
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(arp.mac, 1, 8);
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE metoo_arp
    </update>

    <update id="truncateTableGather">
        TRUNCATE TABLE metoo_arp_gather
    </update>

    <delete id="deleteTable">
        delete from metoo_arp
    </delete>

    <insert id="copyGatherDataToArp">
        INSERT INTO metoo_arp SELECT * FROM metoo_arp_gather
    </insert>


</mapper>