<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.ArpMapper">

    <select id="selectObjDistinctV4ip"
            resultType="com.metoo.nrsm.entity.Arp">
        /* select * from metoo_arp where
        id not in(select id from metoo_arp where v4ip like '192.168%')
        group by mac having count(*) &lt;=1 order by v4ip asc*/

        select * from metoo_arp
        group by mac having count(*) &lt;=1 order by v4ip asc
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map"
            resultType="com.metoo.nrsm.entity.Arp">
        SELECT *
        FROM
        <choose>
            <!-- 当addTime参数存在且不为空时，查询历史表 -->
            <when test="addTime != null">
                metoo_arp_history
            </when>
            <!-- 否则查询当前表 -->
            <otherwise>
                metoo_arp
            </otherwise>
        </choose>
        <where>
            <if test="v4ip != '' and v4ip != null">
                AND v4ip = #{v4ip}
            </if>
            <if test="v6ip != '' and v6ip != null">
                AND v6ip = #{v6ip}
            </if>
            <if test="port != '' and port != null">
                AND port = #{port}
            </if>
            <if test="mac != '' and mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceIp != '' and deviceIp != null">
                AND deviceIp = #{deviceIp}
            </if>
            <if test="ipv4IsNotNull">
                AND v4ip IS NOT NULL
            </if>
            <if test="ipv6IsNotNull">
                AND v6ip is not null and v4ip is null
            </if>
            <if test="notInIpv4s != null">
                AND v4ip not in
                <foreach collection="notInIpv4s" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="notInIpv6s != null">
                AND v6ip not in
                <foreach collection="notInIpv6s" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <if test="addTime != null">
            AND addTime = #{addTime}
        </if>




    </select>

    <resultMap id="joinSelectObjAndIpv6_Result" type="com.metoo.nrsm.entity.Arp">
        <id column="v4id" property="id"></id>
        <result column="v4ip" property="v4ip"></result>
        <result column="mac" property="mac"></result>
        <result column="port" property="port"></result>
        <result column="deviceIp" property="deviceIp"></result>
        <result column="deviceName" property="deviceName"></result>
        <result column="macVendor" property="macVendor"></result>
        <collection property="ipv6List" ofType="com.metoo.nrsm.entity.Ipv6">
            <id column="v6id" property="id"></id>
            <result column="v6ip" property="ip"></result>
        </collection>
    </resultMap>


    <select id="joinSelectObjAndIpv6" resultMap="joinSelectObjAndIpv6_Result">
        SELECT
        metoo_ipv4_duplicates.id v4id,
        metoo_ipv4_duplicates.ip v4ip,
        metoo_ipv4_duplicates.mac,
        metoo_ipv4_duplicates.port,
        metoo_ipv4_duplicates.deviceIp,
        metoo_ipv4_duplicates.deviceName,
        metoo_ipv6_duplicates.id v6id,
        metoo_ipv6_duplicates.ip v6ip,
        metoo_mac_vendor.vendor macVendor
        FROM
        metoo_ipv4_duplicates
        JOIN metoo_ipv6_duplicates ON metoo_ipv4_duplicates.mac = metoo_ipv6_duplicates.mac
        AND metoo_ipv4_duplicates.port = metoo_ipv6_duplicates.port
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(metoo_ipv4_duplicates.mac, 1, 8);

    </select>

    <select id="mergeIpv4AndIpv6" parameterType="java.util.Map" resultType="com.metoo.nrsm.entity.Arp">
        SELECT
        #{addTime} as addTime,
        mac,
        port,
        v4ip,
        deviceIp,
        deviceName,
        macVendor,
        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) >= 0,
        SUBSTRING_INDEX(v6ip, ',', 1),
        NULL
        ) v6ip,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 0 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 2),
        ',',
        - 1
        ),
        NULL
        ) v6ip1,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 1 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 3),
        ',',
        - 1
        ),
        NULL
        ) v6ip2,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 2 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 4),
        ',',
        - 1
        ),
        NULL
        ) v6ip3
        FROM
        (
        SELECT
        v4id,
        mac,
        port,
        deviceIp,
        deviceName,
        v6id,
        macVendor,
        GROUP_CONCAT(v4ip) v4ip,
        GROUP_CONCAT(v6ip) v6ip
        FROM
        (
        SELECT
        metoo_ipv4_duplicates.id v4id,
        metoo_ipv4_duplicates.ip v4ip,
        metoo_ipv4_duplicates.mac,
        metoo_ipv4_duplicates.port,
        metoo_ipv4_duplicates.deviceIp,
        metoo_ipv4_duplicates.deviceName,
        metoo_ipv6_duplicates.id v6id,
        metoo_ipv6_duplicates.ip v6ip,
        metoo_mac_vendor.vendor macVendor
        FROM
        metoo_ipv4_duplicates
        JOIN metoo_ipv6_duplicates ON metoo_ipv4_duplicates.mac = metoo_ipv6_duplicates.mac
        AND metoo_ipv4_duplicates.port = metoo_ipv6_duplicates.port
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(
        metoo_ipv4_duplicates.mac,
        1,
        8
        )
        ) arp
        GROUP BY
        v4id
        ) arp1
    </select>

    <insert id="save" parameterType="com.metoo.nrsm.entity.Arp">
        INSERT INTO metoo_arp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip,
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip,
            </if>
            <if test="mac != null and mac != ''">
                mac,
            </if>
            <if test="port != null and port != ''">
                port,
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1,
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2,
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3,
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1,
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2,
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3,
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp,
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName,
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType,
            </if>
            <if test="tag != null and tag != ''">
                tag,
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                #{mac},
            </if>
            <if test="port != null and port != ''">
                #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                #{macVendor},
            </if>
        </trim>
    </insert>

    <insert id="saveGather" parameterType="com.metoo.nrsm.entity.Arp">
        INSERT INTO metoo_arp_gather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip,
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip,
            </if>
            <if test="mac != null and mac != ''">
                mac,
            </if>
            <if test="port != null and port != ''">
                port,
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1,
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2,
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3,
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1,
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2,
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3,
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp,
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName,
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType,
            </if>
            <if test="tag != null and tag != ''">
                tag,
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                #{mac},
            </if>
            <if test="port != null and port != ''">
                #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                #{macVendor},
            </if>
        </trim>
    </insert>

    <insert id="batchSaveGather" parameterType="java.util.List">
        INSERT INTO `metoo_arp_gather` (
        addTime,
        v4ip,
        v6ip,
        mac,
        port,
        v4ip1,
        v4ip2,
        v4ip3,
        v6ip1,
        v6ip2,
        v6ip3,
        deviceIp,
        deviceName,
        tag,
        macVendor
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.addTime},
            #{item.v4ip},
            #{item.v6ip},
            #{item.mac},
            #{item.port},
            #{item.v4ip1},
            #{item.v4ip2},
            #{item.v4ip3},
            #{item.v6ip1},
            #{item.v6ip2},
            #{item.v6ip3},
            #{item.deviceIp},
            #{item.deviceName},
            #{item.tag},
            #{item.macVendor}
            )
        </foreach>
    </insert>


    <insert id="batchSaveGatherBySelect" parameterType="java.util.Map">
        insert into metoo_arp_gather(
        addTime,
        mac,
        port,
        v4ip,
        deviceIp,
        deviceName,
        macVendor,
        v6ip,
        v6ip1,
        v6ip2,
        v6ip3
        )
        SELECT
        '2024-02-26 23:02:00' as addTime,
        mac,
        port,
        v4ip,
        deviceIp,
        deviceName,
        macVendor,
        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) >= 0,
        SUBSTRING_INDEX(v6ip, ',', 1),
        NULL
        ) v6ip,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 0 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 2),
        ',',
        - 1
        ),
        NULL
        ) v6ip1,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 1 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 3),
        ',',
        - 1
        ),
        NULL
        ) v6ip2,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 2 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 4),
        ',',
        - 1
        ),
        NULL
        ) v6ip3
        FROM
        (
        SELECT
        v4id,
        mac,
        port,
        deviceIp,
        deviceName,
        v6id,
        macVendor,
        GROUP_CONCAT(v4ip) v4ip,
        GROUP_CONCAT(v6ip) v6ip
        FROM
        (
        SELECT
        metoo_ipv4_duplicates.id v4id,
        metoo_ipv4_duplicates.ip v4ip,
        metoo_ipv4_duplicates.mac,
        metoo_ipv4_duplicates.port,
        metoo_ipv4_duplicates.deviceIp,
        metoo_ipv4_duplicates.deviceName,
        metoo_ipv6_duplicates.id v6id,
        metoo_ipv6_duplicates.ip v6ip,
        metoo_mac_vendor.vendor macVendor
        FROM
        metoo_ipv4_duplicates
        JOIN metoo_ipv6_duplicates ON metoo_ipv4_duplicates.mac = metoo_ipv6_duplicates.mac
        AND metoo_ipv4_duplicates.port = metoo_ipv6_duplicates.port
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(
        metoo_ipv4_duplicates.mac,
        1,
        8
        )
        ) arp
        GROUP BY
        v4id
        ) arp1
    </insert>


    <insert id="batchSaveIpV4AndIpv6ToArpGather" parameterType="java.util.Map">
        INSERT INTO metoo_arp_gather (
        addTime,
        mac,
        PORT,
        v4ip,
        deviceIp,
        deviceName,
        macVendor,
        v6ip,
        v6ip1,
        v6ip2,
        v6ip3
        ) SELECT
        *
        FROM
        (
        SELECT
        #{addTime} AS addTime,
        arp.mac,
        arp. PORT,
        arp.v4ip,
        arp.deviceIp,
        arp.deviceName,
        metoo_mac_vendor.vendor macVendor,
        arp.v6ip,
        NULL AS v6ip1,
        NULL AS v6ip2,
        NULL AS v6ip3
        FROM
        (
        SELECT
        *
        FROM
        (
        SELECT
        metoo_ipv4.mac,
        metoo_ipv4. PORT,
        metoo_ipv4.ip v4ip,
        metoo_ipv4.deviceIp,
        metoo_ipv4.deviceName,
        NULL AS v6ip
        FROM
        metoo_ipv4
        WHERE
        metoo_ipv4.id NOT IN (
        SELECT DISTINCT
        metoo_ipv4.id
        FROM
        metoo_ipv4
        JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
        AND metoo_ipv4. PORT = metoo_ipv6. PORT
        )
        ) arp2
        UNION
        SELECT
        mac,
        PORT,
        NULL AS v4ip,
        deviceIp,
        deviceName,
        ip ipv6
        FROM
        (
        SELECT
        *
        FROM
        metoo_ipv6
        WHERE
        metoo_ipv6.id NOT IN (
        SELECT DISTINCT
        metoo_ipv6.id
        FROM
        metoo_ipv4
        JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
        AND metoo_ipv4. PORT = metoo_ipv6. PORT
        )
        ) arp1
        ) arp
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(arp.mac, 1, 8)
        ) ip1
        UNION
        SELECT
        *
        FROM
        (
        SELECT
        #{addTime} AS addTime,
        mac,
        PORT,
        v4ip,
        deviceIp,
        deviceName,
        macVendor,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) >= 0,
        SUBSTRING_INDEX(v6ip, ',', 1),
        NULL
        ) v6ip,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 0 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 2),
        ',',
        - 1
        ),
        NULL
        ) v6ip1,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 1 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 3),
        ',',
        - 1
        ),
        NULL
        ) v6ip2,

        IF (
        LENGTH(v6ip) - LENGTH(REPLACE(v6ip, ',', '')) - 2 > 0,
        SUBSTRING_INDEX(
        SUBSTRING_INDEX(v6ip, ',', 4),
        ',',
        - 1
        ),
        NULL
        ) v6ip3
        FROM
        (
        SELECT
        v4id,
        mac,
        PORT,
        deviceIp,
        deviceName,
        v6id,
        macVendor,
        GROUP_CONCAT(v4ip) v4ip,
        GROUP_CONCAT(v6ip) v6ip
        FROM
        (
        SELECT
        metoo_ipv4_duplicates.id v4id,
        metoo_ipv4_duplicates.ip v4ip,
        metoo_ipv4_duplicates.mac,
        metoo_ipv4_duplicates. PORT,
        metoo_ipv4_duplicates.deviceIp,
        metoo_ipv4_duplicates.deviceName,
        metoo_ipv6_duplicates.id v6id,
        metoo_ipv6_duplicates.ip v6ip,
        metoo_mac_vendor.vendor macVendor
        FROM
        metoo_ipv4_duplicates
        JOIN metoo_ipv6_duplicates ON metoo_ipv4_duplicates.mac = metoo_ipv6_duplicates.mac
        AND metoo_ipv4_duplicates. PORT = metoo_ipv6_duplicates. PORT
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(
        metoo_ipv4_duplicates.mac,
        1,
        8
        )
        ) arp
        GROUP BY
        v4id
        ) arp1
        ) ip2
    </insert>


    <update id="update" parameterType="com.metoo.nrsm.entity.Arp">
        UPDATE metoo_arp
        <set>
            <if test="addTime != null">
                addTime = #{addTime},
            </if>
            <if test="v4ip != null and v4ip != ''">
                v4ip = #{v4ip},
            </if>
            <if test="v6ip != null and v6ip != ''">
                v6ip = #{v6ip},
            </if>
            <if test="mac != null and mac != ''">
                mac = #{mac},
            </if>
            <if test="port != null and port != ''">
                port = #{port},
            </if>
            <if test="v4ip1 != null and v4ip1 != ''">
                v4ip1 = #{v4ip1},
            </if>
            <if test="v4ip2 != null and v4ip2 != ''">
                v4ip2 = #{v4ip2},
            </if>
            <if test="v4ip3 != null and v4ip3 != ''">
                v4ip3 = #{v4ip3},
            </if>
            <if test="v6ip1 != null and v6ip1 != ''">
                v6ip1 = #{v6ip1},
            </if>
            <if test="v6ip2 != null and v6ip2 != ''">
                v6ip2 = #{v6ip2},
            </if>
            <if test="v6ip3 != null and v6ip3 != ''">
                v6ip3 = #{v6ip3},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                deviceIp = #{deviceIp},
            </if>
            <if test="deviceName != null and deviceName != ''">
                deviceName = #{deviceName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                deviceType = #{deviceType},
            </if>
            <if test="tag != null and tag != ''">
                tag = #{tag},
            </if>
            <if test="macVendor != null and macVendor != ''">
                macVendor = #{macVendor},
            </if>
            where id = #{v4ip3}
        </set>
    </update>

    <update id="writeArp">
        INSERT INTO metoo_arp_gather (
        addTime,
        v4ip,
        mac,
        PORT,
        v6ip,
        deviceIp,
        deviceName,
        macVendor
        ) SELECT
        arp.*, metoo_mac_vendor.vendor macVendor
        FROM
        (
        SELECT
        *
        FROM
        (
        SELECT
        metoo_ipv4.addTime,
        metoo_ipv4.ip v4ip,
        metoo_ipv4.mac,
        metoo_ipv4. PORT,
        NULL AS v6ip,
        metoo_ipv4.deviceIp,
        metoo_ipv4.deviceName
        FROM
        metoo_ipv4
        WHERE
        metoo_ipv4.id NOT IN (
        SELECT DISTINCT
        metoo_ipv4.id
        FROM
        metoo_ipv4
        JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
        AND metoo_ipv4. PORT = metoo_ipv6. PORT
        )
        ) arp2
        UNION
        SELECT
        addTime,
        NULL AS ip,
        mac,
        PORT,
        ip ipv6,
        deviceIp,
        deviceName
        FROM
        (
        SELECT
        *
        FROM
        metoo_ipv6
        WHERE
        metoo_ipv6.id NOT IN (
        SELECT DISTINCT
        metoo_ipv6.id
        FROM
        metoo_ipv4
        JOIN metoo_ipv6 ON metoo_ipv4.mac = metoo_ipv6.mac
        AND metoo_ipv4. PORT = metoo_ipv6. PORT
        )
        ) arp1
        ) arp
        LEFT JOIN metoo_mac_vendor ON metoo_mac_vendor.mac = substring(arp.mac, 1, 8);
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE metoo_arp
    </update>

    <update id="truncateTableGather">
        TRUNCATE TABLE metoo_arp_gather
    </update>

    <delete id="deleteTable">
        delete from metoo_arp
    </delete>

    <insert id="copyGatherDataToArp">
        INSERT INTO metoo_arp SELECT * FROM metoo_arp_gather
    </insert>

    <!-- 在mapper.xml文件中 -->
    <insert id="gathreArp" parameterType="java.util.Date" statementType="CALLABLE">
        {call gather_arp(#{addTime,mode=IN})}
    </insert>

    <insert id="copyDataToArpHistory">
        INSERT INTO metoo_arp_history
        SELECT * FROM metoo_arp
    </insert>

</mapper>