<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.DnsTempLogMapper">
    <insert id="saveInfo" parameterType="com.metoo.nrsm.entity.DnsTempLog">
        insert into metoo_dns_temp_log
                (log_time,ip,domain_data,type,is_cache)
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{logTime,jdbcType=BIGINT},
                #{ip,jdbcType=VARCHAR},
                #{domainData,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
            #{isCache,jdbcType=BIT},
        </trim>
    </insert>
    <delete id="truncateTable">
        TRUNCATE TABLE metoo_dns_temp_log
    </delete>
    <select id="queryRecordInfo" resultType="com.metoo.nrsm.entity.DnsTempLog">
        select domain_data,DATE_FORMAT(log_time,'%Y-%m-%d') as recordTime,count(1) num from metoo_dns_temp_log a
        where 1=1
        and a.type='A'
        and a.domain_data not in (select domain_data from metoo_dns_temp_log where type='AAAA')
        group by domain_data,DATE_FORMAT(log_time,'%Y-%m-%d')
    </select>
</mapper>
