<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.OperationLogMapper">

    <select id="selectObjById" parameterType="java.lang.Long" resultType="com.metoo.nrsm.entity.OperationLog">
        SELECT * FROM metoo_operation_log where id = #{id}
    </select>

    <select id="selectObjConditionQuery" parameterType="com.metoo.nrsm.core.dto.OperationLogDTO"
            resultType="com.metoo.nrsm.entity.OperationLog">
        SELECT * FROM metoo_operation_log
        <where>
            <if test="account != null and account != ''">
                AND `account` = #{account}
            </if>
            <if test="name != null and name != '' and other != null and other != ''">
                AND `name` = #{name} or `name` = #{other}
            </if>
            <if test="action != null and action != ''">
                AND `action` = #{action}
            </if>
            <if test="type != null">
                AND `type` = #{type}
            </if>
            <if test="ip != null and ip != ''">
                AND `ip` = #{ip}
            </if>
            <if test="MC != null and MC != ''">
                AND `MC` = #{MC}
            </if>
            <if test="DM != null and DM != ''">
                AND `DM` = #{DM}
            </if>
            <if test="startTime != null">
                AND addTime >= #{startTime}
            </if>
            <if test="endTime != null">
                AND addTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test="orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultType="com.metoo.nrsm.entity.OperationLog">
        SELECT * FROM metoo_operation_log
    </select>

    <insert id="save" parameterType="com.metoo.nrsm.entity.OperationLog">
        INSERT INTO metoo_operation_log
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                `addTime`,
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                `deleteStatus`,
            </if>
            <if test="account != null and account != ''">
                `account`,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="action != null and action != ''">
                `action`,
            </if>
            <if test="desc != null and desc != ''">
                `desc`,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="ip != null and ip != ''">
                `ip`,
            </if>
            <if test="MC != null and MC != ''">
                `MC`,
            </if>
            <if test="DM != null and DM != ''">
                `DM`,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                #{deleteStatus},
            </if>
            <if test="account != null and account != ''">
                #{account},
            </if>
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="action != null and action != ''">
                #{action},
            </if>
            <if test="desc != null and desc != ''">
                #{desc},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="ip != null and ip != ''">
                #{ip},
            </if>
            <if test="MC != null and MC != ''">
                #{MC},
            </if>
            <if test="DM != null and DM != ''">
                #{DM},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="com.metoo.nrsm.entity.OperationLog">
        UPDATE metoo_operation_log
        <set>
            <if test="addTime != null ">
                addTime = #{addTime},
            </if>
            <if test="deleteStatus != null and deleteStatus != ''">
                deleteStatus = #{deleteStatus},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="action != null and action != ''">
                `action` = #{action},
            </if>
            <if test="desc != null and desc != ''">
                `desc` = #{desc},
            </if>
            <if test="type != null and type != ''">
                `type` = #{type},
            </if>
            <if test="ip != null and ip != ''">
                `ip` = #{ip},
            </if>
            <if test="MC != null and MC != ''">
                `MC` = #{MC},
            </if>
            <if test="DM != null and DM != ''">
                `DM` = #{DM},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM metoo_operation_log where id = #{id}
    </delete>
</mapper>