<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.PingStartMapper">

    <select id="selectOneObj"  resultType="com.metoo.nrsm.entity.PingStartParam">
        SELECT * FROM metoo_ping_start_param limit 1
    </select>

    <update id="update" parameterType="com.metoo.nrsm.entity.PingStartParam">
        UPDATE metoo_ping_start_param
        <set>
            <if test="param != null">
                param = #{param},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>