<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nrsm.core.mapper.SystemUsageMapper">

    <select id="selectObjByMap" parameterType="java.util.Map" resultType="com.metoo.nrsm.entity.SystemUsage">
        SELECT * FROM metoo_system_usage
        <where>
            <if test="startTime != null and endTime != null">
                AND addTime between #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <select id="selectObjVOByMap" parameterType="java.util.Map" resultType="com.metoo.nrsm.core.vo.SystemUsageVO">
        SELECT * FROM metoo_system_usage
        <where>
            <if test="startTime != null and endTime != null">
                AND addTime between #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.metoo.nrsm.entity.SystemUsage">
        INSERT INTO metoo_system_usage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="cpu_usage != null and cpu_usage != ''">
                cpu_usage,
            </if>
            <if test="mem_usage != null and mem_usage != ''">
                mem_usage,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="cpu_usage != null and cpu_usage != ''">
                #{cpu_usage},
            </if>
            <if test="mem_usage != null and mem_usage != ''">
                #{mem_usage},
            </if>
        </trim>
    </insert>
</mapper>
