<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nrsm.core.mapper.TerminalMacIpv6Mapper">

    <resultMap id="BaseResultMap" type="com.metoo.nrsm.entity.TerminalMacIpv6">
        <result property="mac" column="mac" jdbcType="VARCHAR"/>
        <result property="isipv6" column="isIPv6" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        mac,isIPv6
    </sql>

    <!-- 批量查询 -->
    <select id="batchGetByMacAddresses" resultType="com.metoo.nrsm.entity.TerminalMacIpv6">
        SELECT * FROM metoo_terminal_mac_v6
        WHERE mac IN
        <foreach item="mac" collection="macs" open="(" separator="," close=")">
            #{mac}
        </foreach>
    </select>

    <!-- 排除MAC地址查询 -->
    <select id="findAllExcludingMacs" resultType="com.metoo.nrsm.entity.TerminalMacIpv6">
        SELECT * FROM metoo_terminal_mac_v6
        WHERE mac NOT IN
        <foreach item="mac" collection="excludedMacs" open="(" separator="," close=")">
            #{mac}
        </foreach>
    </select>

</mapper>
