<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nrsm.core.mapper.UnitMapper">

    <resultMap id="UnitResultMap" type="com.metoo.nrsm.entity.Unit">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="county_code" property="countyCode" jdbcType="VARCHAR"/>
        <result column="county_name" property="countyName" jdbcType="VARCHAR"/>
        <result column="unitName" property="unitName" jdbcType="VARCHAR"/>
        <result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER"/>
        <result column="unitId" property="unitId" jdbcType="VARCHAR"/>
        <result column="unitLevel" property="unitLevel"/>
    </resultMap>

    <select id="selectObjById" parameterType="java.lang.Long" resultMap="UnitResultMap">
        SELECT *
        FROM metoo_unit
        WHERE id = #{id}
    </select>

    <select id="selectObjConditionQuery" parameterType="com.metoo.nrsm.core.dto.UnitNewDTO"
            resultMap="UnitResultMap">
        SELECT id, addTime,updateTime,unitName,deleteStatus,
        city_code, city_name, county_code, county_name, unitId
        FROM metoo_unit
        <where>
            <choose>
                <when test="deleteStatus != null">
                    deleteStatus = #{deleteStatus}
                </when>
                <otherwise>
                    deleteStatus = 0
                </otherwise>
            </choose>
            <if test="id != null">
                AND `id` = #{id}
            </if>

            <if test="unitName != null and unitName != ''">
                AND `unitName` = #{unitName}
            </if>
        </where>
        ORDER BY addTime DESC
    </select>

    <select id="selectByUser" parameterType="com.metoo.nrsm.core.dto.UnitNewDTO"
            resultMap="UnitResultMap">
        SELECT id, addTime,updateTime,unitName,deleteStatus,
        city_code, city_name, county_code, county_name, unitId
        FROM metoo_unit
        <where>
            <choose>
                <when test="deleteStatus != null">
                    deleteStatus = #{deleteStatus}
                </when>
                <otherwise>
                    deleteStatus = 0
                </otherwise>
            </choose>
            <if test="id != null">
                AND `id` = #{id}
            </if>

            <if test="unitName != null and unitName != ''">
                AND `unitName` = #{unitName}
            </if>
        </where>
        ORDER BY addTime DESC
    </select>

    <select id="selectAllQuery" resultMap="UnitResultMap">
        SELECT id, unitName, addTime, updateTime, deleteStatus,
        city_code, city_name, county_code, county_name, unitId
        FROM metoo_unit
        <where>
            <choose>
                <when test="deleteStatus != null">
                    deleteStatus = #{deleteStatus}
                </when>
                <otherwise>
                    deleteStatus = 0
                </otherwise>
            </choose>
        </where>
        ORDER BY addTime DESC
    </select>

    <insert id="save" parameterType="com.metoo.nrsm.entity.Unit" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metoo_unit
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="cityCode != null and cityCode != ''">
                city_code,
            </if>
            <if test="cityName != null and cityName != ''">
                city_name,
            </if>
            <if test="countyCode != null and countyCode != ''">
                county_code,
            </if>
            <if test="countyName != null and countyName != ''">
                county_name,
            </if>
            <if test="addTime != null">
                addTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="unitName != null and unitName != ''">
                unitName,
            </if>
            <if test="deleteStatus != null">
                deleteStatus,
            </if>
            <if test="unitId != null and unitId != ''">
                unitId,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="cityCode != null and cityCode != ''">
                #{cityCode},
            </if>
            <if test="cityName != null and cityName != ''">
                #{cityName},
            </if>
            <if test="countyCode != null and countyCode != ''">
                #{countyCode},
            </if>
            <if test="countyName != null and countyName != ''">
                #{countyName},
            </if>
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="unitName != null and unitName != ''">
                #{unitName},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus},
            </if>
            <if test="unitId != null and unitId != ''">
                #{unitId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.metoo.nrsm.entity.Unit">
        UPDATE metoo_unit
        <set>
            <if test="cityCode != null and cityCode != ''">
                city_code = #{cityCode},
            </if>
            <if test="cityName != null and cityName != ''">
                city_name = #{cityName},
            </if>
            <if test="countyCode != null and countyCode != ''">
                county_code = #{countyCode},
            </if>
            <if test="countyName != null and countyName != ''">
                county_name = #{countyName},
            </if>
            <if test="addTime != null">
                addTime = #{addTime},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="unitName != null and unitName != ''">
                unitName = #{unitName},
            </if>
            <if test="deleteStatus != null">
                deleteStatus = #{deleteStatus},
            </if>
            <if test="unitId != null and unitId != ''">
                unitId = #{unitId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM metoo_unit WHERE id = #{id}
    </delete>

    <select id="countByUnitName" resultType="int">
        SELECT COUNT(*) FROM metoo_unit WHERE unitName = #{unitName}
    </select>

    <select id="selectByUnitName" resultMap="UnitResultMap">
        SELECT *
        FROM metoo_unit
        WHERE unitName = #{unitName}
    </select>
    <select id="selectObjByLevel" resultType="com.metoo.nrsm.entity.Unit">
        SELECT *
        FROM metoo_unit
        WHERE unitLevel = #{unitLevel}
    </select>

</mapper>