<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nrsm.core.mapper.UnitHourFlowStatsMapper">

    <insert id="save" parameterType="com.metoo.nrsm.entity.UnitHourFlowStats">
        INSERT INTO unit_hour_flow_stats
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="ipv4 != null">ipv4,</if>
            <if test="ipv6 != null">ipv6,</if>
            <if test="hourTime != null">hour_time,</if>
            <if test="day != null">day,</if>
            <if test="statsTime != null">stats_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="unitId != null">#{unitId},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="ipv4 != null">#{ipv4},</if>
            <if test="ipv6 != null">#{ipv6},</if>
            <if test="hourTime != null">#{hourTime},</if>
            <if test="day != null">#{day},</if>
            <if test="statsTime != null">#{statsTime},</if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO unit_hour_flow_stats (
        unit_id, ipv4, ipv6, hour_time, day, stats_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.unit_id}, #{item.ipv4}, #{item.ipv6},
                #{item.hour_time}, #{item.day}, #{item.stats_time}
            )
        </foreach>
    </insert>

    <select id="orgHour" resultType="com.metoo.nrsm.core.manager.statis.vo.FlowRadioData">
        select a.hour_time as title,SUM(COALESCE(a.ipv4,0)) as ipv4,SUM(COALESCE(a.ipv6,0)) as ipv6,COALESCE(Round((SUM(COALESCE(a.ipv6,0)))*100/(SUM(COALESCE(a.ipv4,0))+SUM(COALESCE(a.ipv6,0)))),0) as ipv6Radio from unit_hour_flow_stats  a
        where 1=1
        <if test="id != null and id !=''">
            and a.unit_id=#{id}
        </if>
          and a.day =#{day}
        group by a.hour_time
        ORDER BY a.hour_time  asc
    </select>
</mapper>
